{% extends "base.html" %}

{% block title %}Login Page{%endblock%}

{% block content %}
<div class="container">
  <form method="POST">
    <br />
    <h3 align="center">Login</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <br>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <br>
  {{value}}
  <h4>To Login as Admin Type (Email as "admin@gmail.com" and Password as "admin123")</h4>
</div>
{% endblock %}